<form (submit)="gestore.insertPersonale(nome, cognome, email, telefono, idacquario); nome = cognome = email = telefono = ''; idacquario = 1;">
    <mat-form-field>
        <input
        matInput
        type="text"
        name="name"
        required
        minlength="4"
        placeholder="Nome"
        [(ngModel)]="nome">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input
        matInput
        name="cognome"
        required
        minlength="4"
        placeholder="Cognome"
        [(ngModel)]="cognome">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input
        matInput
        type="text"
        name="email"
        required
        minlength="4"
        placeholder="Email"
        [(ngModel)]="email">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input
        matInput
        type="text"
        name="telefono"
        required
        minlength="8"
        placeholder="telefono"
        [(ngModel)]="telefono">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input
        matInput
        type="number"
        name="idacquario"
        required
        placeholder="IDAcquario"
        [(ngModel)]="idacquario">
    </mat-form-field>
    <div style="text-align: center;">
        <button
            mat-raised-button
            color="primary"
            type="sumbit">
            Inserisci
        </button>
    </div>
</form>
<table id="datatable-full" class="table table-striped dt-responsive nowrap w-100">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>IDAcquario</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of gestore.personale">
            <td>{{x.ID}}</td>
            <td>{{x.Nome}}</td>
            <td>{{x.Cognome}}</td>
            <td>{{x.Email}}</td>
            <td>{{x.Telefono}}</td>
            <td>{{x.IDAcquario}}</td>
        </tr>
    </tbody>
</table>