<mat-toolbar>Full Stack Web Application</mat-toolbar>

<div class="container-fluid" style="margin-top: 30px; margin-bottom: 100px;">
  <div class="row">
    <div class="col-sm-3">
      <button mat-raised-button routerLink="" color="accent">
        <img src="../assets/fish.png" width="35px" height="35px">
        Acquario
      </button>
    </div>
    <div class="col-sm-3">
      <button mat-raised-button routerLink="personale" color="accent">
        <img src="../assets/user.png" width="" height="">
        Personale
      </button>
    </div>
    <div class="col-sm-3">
      <button mat-raised-button routerLink="interventi" color="accent">
        <img src="../assets/wrench.png" width="" height="">
        Interventi
      </button>
    </div>
    <div class="col-sm-3">
      <button mat-raised-button routerLink="isemplice" color="accent">
        <img src="../assets/cells.png" width="" height="">
        ISemplice
      </button>
    </div>
  </div>
</div>

<main>
  <router-outlet></router-outlet>
</main>